*{
    box-sizing: border-box;
}
.container{
    width: 1088px;
    margin: 0 auto;
}
header{
    position: relative;
    background-image: url(../images/Image.jpg);
    background-size: cover;
    height: calc(100vh - 15px);
}
header::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
}


/* Nav */


nav{
    background: rgba(0, 0, 0, .5);
    height: 90px;
}
nav .container{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
    z-index: 999;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo img{
    margin-right: 10px;
}
.logo span{
    font-weight: 800;
    color: #f00;
}
.menu{
    font-family: 'Nunito Sans', sans-serif;
    z-index: 999;
    display: flex;
}
.menu li{
    display: block;
}
.menu li a{
    padding: 33.5px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.menu li:hover a{
    background: rgba(255, 255, 255, .1);
}


/* landing */
.landing .container{
    width: 917px;
    height: calc(100vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.landing h1, .landing p{
    color: #fff;
    z-index: 999;
    font-family: 'Nunito Sans', sans-serif;
}
.landing h1{
    font-weight: 900;
    text-shadow: 0 3px 6px rgba(0, 0, 0, .4);
    font-size: 90px;
    padding: 16.5px 0;
}
.landing p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 50px;
    line-height: 22px;
}
.btn-container{
    z-index: 999;
}
.btn{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: #fff;
    padding: 23px 54px;
    display: inline-block;
    border-radius: 40px;
    color: #f00;
    text-decoration: none;
    margin: 0 12.5px;
}
.red{
    background: #f00;
    color: #fff;
    box-shadow: 0 3px 6px #ff00004d;
}
.arrow{
    position: absolute;
    z-index: 666;
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #f00;
    bottom: -25px;
    left: calc(50% - 26.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow img{
    width: 21px;
    height: 22px;
}

/* Blog */

.blog{
    padding: 91px 0 100px;
}

.title{
    margin: 0 auto;
    width: 95px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #000;
    margin-bottom: 35px;
}
.title::before{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #f00;
    border-radius: 8px;
    box-shadow: 0px 1px 6px #FF00004D;
    position: absolute;
    bottom: calc(50% - 1.5px);
    left: -60px;
}
.title::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #f00;
    border-radius: 8px;
    box-shadow: 0px 1px 6px #FF00004D;
    position: absolute;
    bottom: calc(50% - 1.5px);
    right: -60px;
}
.blog .container{
    display: flex;
    justify-content: space-between;
}
.blog-box{
    width: 352px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #6A6A6A;
}
.blog-box img{
    width: 100%;
    height: 234px;
}
.box-title{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    margin: 25px 0 15px;
}
.box-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-right: 92px;
}
.blog-box .btn{
    margin: 0;
    padding: 11px 29px;
    font-size: 14px;
    margin-top: 15px;
}
/* Service */
.service{
    padding: 60px 0 100px;
    background: #28272C;
    color: #B2B2B2;
}
.service .title{
    width: 146px;
    margin-bottom: 75px;
    color: #fff;
}
.service-box .box-title{
    color: #fff;
}
.service-box .box-text{
    font-weight: 400px;
    margin: 0;
    text-align: center;
}
.service .container{
    display: flex;
    justify-content: space-between;
}
.service-box{
    width: 231px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-box img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.service-box .btn{
    margin: 0;
    padding: 11px 29px;
    font-size: 14px;
    margin-top: 15px;
}
/* Contact */
.contact{
    padding: 65px 0;
}
.contact .title{
    width: 165px;
}
.contact .container{
    width: 904px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-left{
    width: 50%;
}
.contact-left img{
    width: 444px;
    height: auto;
}
.contact-right{
    width: 50%;
    margin-left: 16px;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contact-right form input{
    padding: 8px 12px;
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
}
.contact-right form input:focus{
    border-color: #f00;
    box-shadow: 0px 1px 6px #FF00004D;
}
.contact-right form input::placeholder{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #B2B2B2;
}
.contact-right form input:nth-child(2){
    margin: 20px 0;
}
.contact-right form textarea{
    height: 140px;
    padding: 8px 12px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    resize: none;
}
.contact-right form textarea:focus{
    border-color: #f00;
    box-shadow: 0px 1px 6px #FF00004D;
}
.contact-right form textarea::placeholder{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #B2B2B2;
}
.checkbox-grp{
    margin-top: 20px;
}
.checkbox-grp label{
    position: relative;
    cursor: pointer;
}
.checkbox-grp p{
    margin-left: 32px;
}
.checkbox-grp input{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.checkbox-custom{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    position: absolute;
    top: 4px;
    left: 0;
}
.checkbox-grp input:checked + .checkbox-custom{
    background-image: url(../images/Icon\ Check.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.contact-right .btn{
    border: none;
    border: 1px solid #FF0000;
    margin: 0;
    margin-top: 20px;
    padding: 11px 52px;
    align-self: flex-end;
    box-shadow: 0px 3px 6px #FF00004D;
}
/* footer */
.footer{
    background: #28272C;
    padding: 40px 0;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-list-container{
    margin-top: 22px;
    display: flex;
}
.footer-list:first-child{
    margin-right: 209px;
}
.footer-list li{
    margin-bottom: 7px;
}
.footer-list li:last-child{
    margin: 0;
}
.footer-list a{
    color: #fff;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.footer-list a:hover{
    color: #f00;
}
.copyright{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #D1D1D1;
    align-self: flex-end;
}